Package: genpw
Version: 1.0.0-1
Architecture: all
Depends: bash
Maintainer: MarcelCoding <34819524+MarcelCoding@users.noreply.github.com>
Description: Generate strong passwords directly from the command line.
